/*  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗ */
/* ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝ */
/* ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗ */
/* ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║ */
/* ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║ */
/*  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝ */

@define-color base   {{ colors.surface.default.hex }};
@define-color mantle {{ colors.surface_container_low.default.hex }};
@define-color crust  {{ colors.surface_container_lowest.default.hex }};

@define-color text     {{ colors.on_surface.default.hex }};
@define-color subtext0 {{ colors.on_surface_variant.default.hex }};
@define-color subtext1 {{ colors.on_surface_variant.default.hex }};

@define-color surface0 {{ colors.surface_container.default.hex }};
@define-color surface1 {{ colors.surface_container_high.default.hex }};
@define-color surface2 {{ colors.surface_container_highest.default.hex }};

@define-color overlay0 {{ colors.outline_variant.default.hex }};
@define-color overlay1 {{ colors.outline.default.hex }};
@define-color overlay2 {{ colors.outline.default.hex }};

@define-color blue      {{ mochaccino.color4.default.hex }};
@define-color lavender  {{ colors.secondary.default.hex }};
@define-color sapphire  {{ colors.tertiary.default.hex }};
@define-color sky       {{ colors.tertiary.default.hex }};
@define-color teal      {{ mochaccino.color6.default.hex }};
@define-color green     {{ mochaccino.color2.default.hex }};
@define-color yellow    {{ mochaccino.color3.default.hex }};
@define-color peach     {{ mochaccino.color11.default.hex }};
@define-color maroon    {{ mochaccino.color9.default.hex }};
@define-color red       {{ mochaccino.color1.default.hex }};
@define-color mauve     {{ colors.primary.default.hex }};
@define-color pink      {{ mochaccino.color5.default.hex }};
@define-color flamingo  {{ colors.secondary.default.hex }};
@define-color rosewater {{ colors.primary.default.hex }};
