/*  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗ */
/* ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝ */
/* ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗ */
/* ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║ */
/* ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║ */
/*  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝ */

@define-color bg {{ colors.surface_container_lowest.default.hex }};
@define-color fg {{ colors.on_surface.default.hex }};
