/*  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗ */
/* ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝ */
/* ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗ */
/* ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║ */
/* ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║ */
/*  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝ */

@define-color bg #11111b;
@define-color fg #cdd6f4;
